<div style="display: flex; align-items: center;">
    <img src="../img/es_logo.png" alt="title" style="margin-right: 20px;">
    <h1>Python Syntax and Data Types</h1>
</div>

Complete the code to print out Hello Python! in a formatted string.

In [ ]:
message = "Python"
Greeting = f"Hello {message}"
print(Greeting)

Hello Python

Correct the following code to:
1. Perform the arithmetic operation on a and b.
2. Perform concatenation on a and b.

In [ ]:
a = 5
b = "10"

# perform addition expected output is 15
addition = int(a) + int(b)
print(addition)

# perform concatenation expected output is 510
concatenation = str(a) + b
print(concatenation)

15
510

Complete the code to extract and print out the domain name from the email address.

In [ ]:
email = "python_dev@estarta.com"

# extract domain from email
domain = email[-12:]
print(domain)

@estarta.com

Perform the following operations on the "Cars" list:
1. Add "Honda" to the list.
2. Replace the second element with "Ford".
3. Remove "Toyota" from the list.
4. Check if "Subaru" is in the list.

In [ ]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# add "Honda" to the list
cars.append("Honda")
print(cars)

# replace the second element with "Ford"
cars[1]="Ford"
print(cars)

# remove Toyota from the list
cars.remove("Toyota")
print(cars)

# print True if Subaru is in the list else False
if "Subaru" in cars:
    print(True)
else:
    print(False)

['Toyota', 'Mercedes', 'BMW', 'Jeep', 'Honda']
['Toyota', 'Ford', 'BMW', 'Jeep', 'Honda']
['Ford', 'BMW', 'Jeep', 'Honda']
True

Complete the code to do the following:
1. Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
2. Add a new key-value pair with "city": "Amman"
3. Update the occupation to "Surgeon"
4. Remove the "country" key-value pair from the dictionary.
5. print out the updated dictionary.

In [ ]:

# create dictionary
person = {"name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"}
print(person)

# add city: Amman
person["city"]= "Amman"
print(person)

# update occupation to "Surgeon"
person["occupation"]="Surgeon"
print(person)

# remove country key-value 
del person["country"]
print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'country': 'Jordan', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'city': 'Amman'}

Complete the folowing opertasions on the "numbers" set:
1. Check if 4 is in the set.
2. Add 5 to the set.
3. Remove 3 from the set.
4. Try to add a duplicate element to the set.
5. Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.
6. Create a set that is the union of the two sets.

In [ ]:
numbers = {2, 5, 16, 8, 7, 9, 3, 1}
print (numbers)

# check if 4 is in the set
print(4 in numbers)

# add 5 to the set
numbers.add(5)
print (numbers)

# remove 3 from the set
numbers.remove(3)

# try to add duplicate element to the set
numbers.add(5)
print(numbers)

# new set containing numbers from m+1 to m+10 range 
m= max(numbers)
new_set= set(range(m+1,m+10))
print(new_set)

# union set 
union_set= numbers.union(new_set)
print(union_set)

{1, 2, 3, 5, 7, 8, 9, 16}
False
{1, 2, 3, 5, 7, 8, 9, 16}
{1, 2, 5, 7, 8, 9, 16}
{17, 18, 19, 20, 21, 22, 23, 24, 25}
{1, 2, 5, 7, 8, 9, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}